<div class="container">
<p id="notice"><%= notice %></p>

<h1>Minhas anotações</h1>

<table class="bordered centered responsive-table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= link_to 'Exibir', note %></td>
        <td><%= link_to 'Editar', edit_note_path(note) %></td>
        <td><%= link_to 'Excluir', note, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova nota', new_note_path %>
