<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @note.notes %>
</p>

<%= link_to 'Editar', edit_note_path(@note) %> |
<%= link_to 'Voltar', notes_path %>
